.familyDetail-page {
    display:flex;
    flex-flow: column wrap;
    align-items: stretch;

    #detail, #remove {
        margin: 1rem 20vw;
        padding: 0 1rem;

        p, h3 {
            margin: 1rem 0;
        }

        button, .submitBtn {
            background-color: $third-color;
            color: set-text-color($third-color);
            border: none;
            border-radius: 4px;
            box-shadow: 2px 2px 3px $third-color;
            font-size: 1.2rem;
            padding: 2px auto;
        }

        table {
            margin: 3px auto;
            width: 90%;
        }
    }

    #remove {
        border: 5px solid $third-color;
    }

    #removeBtns {
        display: flex;
        flex-flow: row wrap;
        button, .submitBtn {
            width: 45%;
            margin: 0 auto;
            
        }
    }

    .family-members {
        td {
            border: none;
            border-bottom: solid 2px $third-color;
        }
    }
}

.family-page {
    #add, #remove {
        margin: 1rem 20vw;
        padding: 0 1rem;
        border: 5px solid $third-color;

        p, h3 {
            margin: 1rem 0;
        }

        button, .submitBtn {
            width: 100%;
            background-color: $third-color;
            color: set-text-color($third-color);
            border: none;
            border-radius: 4px;
            box-shadow: 2px 2px 3px $third-color;
            font-size: 1.2rem;
            padding: 2px auto;
        }
    }

    #removeBtns {
        display: flex;
        flex-flow: row wrap;
        button, .submitBtn {
            width: 45%;
            margin: 0 auto;
            
        }
    }

    table {
        margin: 1rem auto;
    }
}

.deleteFamily-page {
    #delete, #admin {
        margin: 1rem 30vw;
    }

    p, h3 {
        margin: 1rem 0;
    }

    .removeBtns {
        display: flex;
        flex-flow: row wrap;
        button, .submitBtn {
            width: 45%;
            margin: 0.5rem auto;
            background-color: $third-color;
            color: set-text-color($third-color);
            border: none;
            border-radius: 4px;
            box-shadow: 2px 2px 3px $third-color;
            font-size: 1.2rem;
            padding: 2px auto;
        }

    }
}